:root {
  --gray-color: #626262;
  --focus-color: #03a9f4;
  --other-color: #b4ad9e;
  --main-font: "Playfair Display", serif;
  --other-font: "Ubuntu", sans-serif;
}
.body {
  color: var(--gray-color);
  width: 1200px;
}
.header {
  margin: 75px 150px 100px 150px;
}
.top-nav {
  display: flex;
  justify-content: space-evenly;
  margin: 0px;
  padding: 0px;
}
.img {
  width: 420px;
}

.nav-list {
  list-style-type: none;
}
.nav-link {
  text-decoration: none;
  font-size: 14px;
  font-family: var(--main-font);
  line-height: 1.7;
  color: var(--gray-color);
}
.nav-link:hover,
.nav-link:focus {
  color: var(--focus-color);
}
.gallery {
  display: flex;
  justify-content: center;
}
.article {
  padding: 0px;
  margin: 0px;
  list-style: none;
  width: 900px;
  display: flex;
  flex-wrap: wrap;
}
.item {
  width: calc(50% - 30px);
  list-style: none;
  margin-right: 60px;
  margin-bottom: 140px;
}
.item:nth-child(2n) {
  margin-right: 0px;
}
.item:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}
.text {
  font-size: 14px;
  line-height: 1.2;
  font-family: var(--other-font);
  color: var(--other-color);
}
.title {
  font-size: 30px;
  line-height: 1.2;
  font-weight: 400;
}
.description {
  font-size: 14px;
  line-height: 1.7;
  font-family: var(--main-font);
  margin-bottom: 0px;
}
.button-below {
  display: flex;
  justify-content: center;
  margin-top: 55px;
  width: 165px;
  height: 60px;
  border: solid 1px #626262;
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 1.2;
  font-family: var(--main-font);
  color: var(--gray-color);
}
